{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <table class="table float-right">
                <tr>
                    <td>Username</td>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{user.email}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Owner Name</th>
                    <th scope="col">Landmark</th>
                    <th scope="col">Address Line 1</th>
                    <th scope="col">Address Line 2</th>
                    <th scope="col">City</th>
                    <th scope="col">Region</th>
                    <th scope="col">Zip Code</th>
                    <th scope="col">Rent</th>
                    <th scope="col">Options</th>
                  </tr>
                </thead>
                <tbody>
                {% for property in properties%}
                  <tr>
                    <th>{{property.owner_name}}</th>
                    <td>{{property.landmark}}</td>
                    <td>{{property.address1}}</td>
                    <td>{{property.address2}}</td>
                    <td>{{property.city}}</td>
                    <td>{{property.region}}</td>
                    <td>{{property.zipcode}}</td>
                    <td>{{property.rent}}</td>
                    <td><a class="btn btn-danger btn-sm" href="/removeproperty/{{property.id}}">Delete</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock %}